<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Seller</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
</head>
<body>
    <div id="app">
    <h1>Contact Seller</h1>

    <select v-model="selectedItem">
        <option disabled value="">* Select A Book *</option>
        <option v-for="item in items" :value="item">
            {{ item.title }} (Seller: {{ item.sellerName }})
        </option>
    </select>

    <textarea v-model="messageData" placeholder="Write your message..."></textarea>
    <button type=button @click="sendMessage">Send Message</button>

    <h2>Messages received:</h2>
    <ul>
        <li v-for="msg in messages">
            <strong> {{ msg.buyerName }} </strong>
            about
            <em> {{ msg.title }} </em>
            <br>
            {{ msg.messageData }}
            <small> {{ msg.timeSent }} </small>
        </li>
    </ul>
    </div>

    <!-- VUE JS-->
    <script>
        const { createApp } = Vue;

        createApp({
            data() {
                return {
                    items: [],
                    selectedItem: null,
                    messageData: '',
                    messages: []
                };
            },

            // we use this mounted() so that when we start app, it runs the items api and the fetch for /messages
            async mounted() {
                const itemsRes = await fetch('/api/items'); // getting api items
                this.items = await itemsRes.json();

                const messagesRes = await fetch('/api/messages');
                this.messages = await messagesRes.json();
            },

            methods: {
                async sendMessage() {
                    if (!this.selectedBookID || !this.messageData.trim()) {
                       return alert('Pls send book & enter msg!');
                    }
                    await fetch('/api/messages',{
                        method: 'POST',
                        headers: {'Content-Type':'application/json'},
                        body: JSON.stringify({ bookID: this.selectedBookID, message: this.messageData })
                    });
                    alert('Message sent!');
                    this.messageData='';
                }
            }
        }).mount('#app')
    </script>

</body>
</html>